$brandon-reg: "brandon-grotesque-regular", Helvetica, Arial, sans-serif;
$brandon-med: "brandon-grotesque-medium", Helvetica, Arial, sans-serif;
$brandon-bld: "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
$brandon-blk: "brandon-grotesque-black", Helvetica, Arial, sans-serif;

$serif: Georgia, Times, 'Times New Roman', serif;

$headline-text-color: #455a64;
$tagline-text-color: #607d8b;
$mint-cream: #f5fcf9;
$cyan: #02baf2;
$cutlass: #b2c6cd;
$gunpowder: #5e696d;
$lsgreen: #2ccd96;
$horizon: #f58410;