.pawnhero{
	padding                 : 50px 30px 80px 30px;
	background              : #2a80b9 url("../images/pawnhero/hero-bg.png") no-repeat center center;
	h1{
		font-size   : 56px;
		line-height : 1.2;
		color       : #fff;
		margin-bottom: 15px;
	}
	.headline{
		padding: 80px 0;
	}
}
section{
	.headline{
		text-align: center;
		margin-bottom: 50px;
		.title{margin: 0 0 20px 0;}
	}
}
.tile{
	padding: 0;
	h3, p{text-align: left;}
	&.thumb-info{
		img{
			height: 207px;
		}
		h3{
			text-transform : uppercase;
			font-weight    : 700;
		}
	}
}