.banner{
	padding    : 20px 0;
	display    : none;
	text-align : center;
	width      : 100%;
	h3{
		margin      : 0 0;
		display     : inline-block;
		color       : #fff;
		line-height : 1;
		font-family : "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
	}
	a{
		margin-top : -10px;
		display    : inline-block;
	}
	&.banner--clone{
		background : #364347;
		display    : block;
	}
}


section{
	margin     : 80px 0;
	&#partners{
	margin-top : 50px;
	}
}
.jumbotron{
	&.squeeze{
		padding                 : 50px 30px 80px 30px;
		background              : #02baf2 url("../images/cityscape.png") no-repeat center bottom;
		background-blend-mode   : multiply;
		-webkit-background-size : contain;
		background-size         : contain;
		h1, .h1 {
			font-size   : 56px;
			line-height : 1.2;
			color       : #FDEE00;
		}
		.tagline{color: #fff; }
	}
	.btn{ margin-top: 10px;}
}

.tile.thumbs{
	border-radius: 0;
	padding: 0;
	img{
		-webkit-transform : origin(center center);
		-ms-transform     : origin(center center);
		transform         : origin(center center);
	}
	img:hover{
		    -webkit-animation: bounceDownHalf 0.2s ease-in-out;
    animation: bounceDownHalf 0.2s ease-in-out
	}
	h3{
		margin-top: 12px;
		color: #1976d2;
	}
}

@-webkit-keyframes bounceDownHalf {
	0% {
		-webkit-transform : translateY(0);
		transform         : translateY(0)
	}

	50% {
		-webkit-transform : translateY(0.25em);
		transform         : translateY(0.25em)
	}

	100% {
		-webkit-transform : translateY(0);
		transform         : translateY(0)
	}
}

@keyframes bounceDownHalf {
	0% {
		-webkit-transform : translateY(0);
		transform         : translateY(0)
	}

	50% {
		-webkit-transform : translateY(0.25em);
		transform         : translateY(0.25em)
	}

	100% {
		-webkit-transform : translateY(0);
		transform         : translateY(0)
	}
}
