@import '_variables';

.navbar{
	overflow: hidden;
	margin-bottom: 30px;
	min-height: 55px;
	.navbar-brand{padding: 0 0; }
	.navbar-text{margin: 12px 0;}
}

.btn-embossed.btn-danger {
  -webkit-box-shadow: 0 3px #C00 !important;
  box-shadow: 0 3px #C00 !important;
}

.jumbotron{
	margin-bottom : 0;
	padding : 0;
	h1, .h1 {
		font-size     : 42px;
		text-transform: uppercase;
		font-family   : "brandon-grotesque-black", Helvetica, Arial, sans-serif;
		font-weight   : normal;
		line-height   : 1;
		margin-bottom : 25px;
	}
	h2.tagline {
		font-size  : 24px;
	}
	.headline{
		text-align: center;
	}
	&.hero {
		padding: 50px 30px;
		background             : #f5fcf9 url("../images/cityscape.png") no-repeat center bottom;
		-webkit-background-size: contain;
		background-size        : contain;
		min-height             : 600px;
		h1, .h1 {
			color         : $headline-text-color;
		}
	}
}

.media-list{
	margin: 30px 0 ;
	.thumbnail{
		-webkit-transition: all .2s ease-in-out;
		transition        : all .2s ease-in-out;
		padding           : 15px 20px;
		border            : 2px solid #ddd;
		&:hover{
			border-color: #2ccd96;
			transform   : scale(1.05);
			background  : #fffdee;
		}
		h3{
			color         : $headline-text-color;
			font-family   : "brandon-grotesque-black", Helvetica, Arial, sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		p{
			font-size    : 17px;
			margin-bottom: 10px;
			line-height  : 1.3;
			font-family  : $serif;
		}
	}
}

.img-center{margin: 0 auto; }

.notify{
	padding         : 15px 0;
	background-color: #b2c6cd;
	&.notify-info{
		background-color: #02baf2 !important;
	}
	p{
		font-family  :$brandon-reg;
		font-size : 17px;
		color        : #009dcd;
		margin-bottom: 0;
	}
}

.notify-credit{
	background: #0091FF !important;
	a{
		margin-top: -8px;
	}
	p{
		font-size: 20px;
		text-transform: uppercase;
		font-family: "brandon-grotesque-black", Helvetica, Arial, sans-serif;
		color: #FDEE00;
	}
}
.label{
	text-transform: uppercase;
	font-weight   : normal;
	font-family   : "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
}

.tagline{
	color      : $tagline-text-color;
	font-family: $serif;
	font-weight: normal;
	font-style : italic;
}

section{
	margin: 50px 0;
	&.nospace{
		margin: 0 0;
	}
	.title{
		margin: 0px 0 50px 0;
		letter-spacing: 1px;
		text-transform: uppercase;
		text-align: center;
	}
}

blockquote{
	font-style: italic;
	margin     : 0;
	padding    : 0;
	font-family: $serif;
	border-left: none;
	p{
		line-height: 1.7;
	}
	footer{
		background: transparent;
		padding: 5px 0;
		font-style    : normal;
		color         : #364347;
		text-transform: uppercase;
		font-size     : 17px;
		font-family   : "brandon-grotesque-bold", Helvetica, Arial, sans-serif;
	}
	&.small:before, footer:before, small:before{
		content: "";
	}
}
dl{
	margin-bottom: 0;
	dt{
		margin-bottom: 10px;
		font-weight  : normal;
		font-size    : 26px;
		font-family  : $brandon-med;
	}
	dd{
		line-height: 1.5;
		margin-bottom: 30px;
		&:last-of-type{margin-bottom: 0}
	}
}

#testimonials blockquote{
	margin-top: 80px;
}
@keyframes animatedBackground {
0%   {background-position: 0 0;}
100% {background-position: 2292px 0;}
}
@-webkit-keyframes animatedBackground {
0%   {background-position: 0 0;}
100% {background-position: 2292px 0;}
}
@-ms-keyframes animatedBackground {
0%   {background-position: 0 0;}
100% {background-position: 2292px 0;}
}
@-moz-keyframes animatedBackground {
0%   {background-position: 0 0;}
100% {background-position: 2292px 0;}
}
.partners-roll{
	margin            : 0 auto;
	background        : url("../images/partners.jpg") ;
	height            : 74px;
	-moz-transition   :  background-position 0.5s ease-out;
	-o-transition     : background-position 0.5s ease-out;
	-webkit-transition: background-position 0.5s ease-out;
	-ms-transition    : background-position 0.5s ease-out;
	animation         : animatedBackground 50s linear infinite;
	-ms-animation     : animatedBackground 50s linear infinite;
	-moz-animation    : animatedBackground 50s linear infinite;
	-webkit-animation : animatedBackground 50s linear infinite;
}

footer{
	font-family: $brandon-reg;
	background : #2ccd96;
	padding    : 50px 0;
	h5{
		color         : #fff;
		font-size     : 14px;
		letter-spacing: 1px;
		font-family   : $brandon-bld;
		margin        : 0 0 5px 0;
	}
	address{
		margin-bottom: 0;
		color        : rgba(255,255,255,0.85);
		font-size    : 15px;
	}
}

.footer-thin{
	margin-top: 15px;
	ul.footer-links{
		margin-top: 8px;
		margin-bottom: 0;
		a{
			color: #fff;
		}
	}
}
//desktop
@media (min-width: 768px){
	.navbar{
		border-radius: 0;
		margin-bottom: 30px;
		border: none;
	}
	.navbar-footer>.container-fluid .navbar-brand{margin-left: 0; }
	.container.narrow{max-width: 960px; }
	.navbar-nav>li>a {
		padding: 20px;
		&:focus, &:hover{background-color: #FFF;}
	}
}



