footer
  .container.narrow
    .row
      .col-md-3
        a(href='http://www.loansolutions.ph/v2')
          img.img-responsive(src='assets/images/loansolutions-logo-alt.png', alt='')
      .col-md-4
        address
          h5 HEAD OFFICE
          | 8th Flr, Crown 7 Building, Juan Luna Ave.,
          br
          | Mabolo Cebu City, 6000
          br
          | (+6332) 512-4163 / (+6332) 266-6070
      .col-md-5
        address
          h5 MANILA OFFICE
          | 24th Floor Pacific Star Bldg., Sen Gil Puyat cor Makati Ave.,
          br
          | Makati City, 1227
          br
          | (+632) 491-7337
    .footer-thin
      .row
        .col-md-8
          ul.footer-links.list-unstlyed.list-inline
            li: a(href='http://www.loansolutions.ph/')  Home
            li: a(href='http://www.loansolutions.ph/about')  About Us
            li: a(href='http://www.loansolutions.ph/faq')  Faq
            li: a(href='http://www.loansolutions.ph/contact') Contact Us
            li: a(href='http://www.loansolutions.ph/terms-and-conditions')  Terms and Conditions
            li: a(href='http://www.loansolutions.ph/privacy-policy')  Privacy Policy
        .col-md-4
          a.btn.btn-default.btn-block(href='http://www.loansolutions.ph/credit-card-form')
            | Apply for a Credit Card &nbsp;
            i.fa.fa-angle-double-right



