#fb-root
  script.
    (function(e,a,f){var c,b=e.getElementsByTagName(a)[0];if(e.getElementById(f)){return}c=e.createElement(a);c.id=f;c.src="//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";b.parentNode.insertBefore(c,b)}(document,"script","facebook-jssdk"));
nav.navbar.navbar-white.navbar-colored-after(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(href='http://www.loansolutions.ph/')
        img(src='assets/images/loansolutions-logo.png', alt='')
    #navbar.collapse.navbar-collapse
      .navbar-text.navbar-right
        .fb-like(data-href='https://www.facebook.com/LoanSolutionsPH', data-layout='standard', data-action='like', data-show-faces='false', data-share='false')
