extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 LOAN
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
      .row
        .col-md-8
          .boxed
            form.infobox.clearfix
              .form-group
                label 1. How much money would you like to borrow? (in peso)
                input.form-control.autonumeric.input-lg(type='text', autofocus="autofocus", required="required", data-a-sign="Php ")
              .form-group
                label 2. What will you use this money for?
                ul.choice-list.list-unstyled.clearfix
                  li
                    img(src='http://www.loansolutions.ph/assets/v2/images/squeeze/low-interest.png', alt='image description', height='64')
                    p Employment Abroad
                  li
                    img(src='http://www.loansolutions.ph/assets/v2/images/squeeze/low-interest.png', alt='image description', height='64')
                    p Home Purchase/Payment
                  li
                    img(src='http://www.loansolutions.ph/assets/v2/images/squeeze/low-interest.png', alt='image description', height='64')
                    p Home
                      br
                      | Renovation
                  li
                    img(src='https://hoarrd.com/wp-content/uploads/2014/12/feature-sm-1-2x.png', alt='image description', height='64')
                    p Car Purchase / Payment
                  li
                    img(src='https://hoarrd.com/wp-content/uploads/2014/12/feature-sm-1-2x.png', alt='image description', height='64')
                    p Business
                      br
                      | Expansion
                  li
                    img(src='https://hoarrd.com/wp-content/uploads/2014/12/feature-sm-1-2x.png', alt='image description', height='64')
                    p New Business
                  li
                    img(src='https://hoarrd.com/wp-content/uploads/2014/12/feature-sm-1-2x.png', alt='image description', height='64')
                    p Tuition Fee
                  li
                    img(src='https://hoarrd.com/wp-content/uploads/2014/12/feature-sm-1-2x.png', alt='image description', height='64')
                    p Medical
                      br
                      | Emergency Loan
                  li
                    img(src='https://hoarrd.com/wp-content/uploads/2014/12/feature-sm-1-2x.png', alt='image description', height='64')
                    p Travel
                  li
                    img(src='https://hoarrd.com/wp-content/uploads/2014/12/feature-sm-1-2x.png', alt='image description', height='64')
                    p Major Purchase
                  li
                    img(src='https://hoarrd.com/wp-content/uploads/2014/12/feature-sm-1-2x.png', alt='image description', height='64')
                    p Something else
                input.form-control.input-lg(type='text', placeholder="What will you use this money for?")
              .form-group.pull-right
                button.btn.btn-danger.btn-lg.btn-embossed(type='submit') Continue Application &nbsp;
                  i.fa.fa-angle-double-right
        .col-md-4
          .list-group.steps
            a.list-group-item.done(href='app-1.html')
              i.fa.fa-check
              | Loan
            a.list-group-item.disabled(href='app-2.html')
              i.fa.fa-circle-o
              | Personal
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Financial
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Documents
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Matching Lenders
