extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 Source of Income
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
    .container
      .row
        .col-md-8
          .boxed
            form.infobox.clearfix
              .form-group
                label What's your primary source of income?
                .choices
                  label.radio
                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", data-toggle="radio")
                    | Local Employment
                  label.radio
                    input#optionsRadios2(type="radio", name="optionsRadios", value="option2", data-toggle="radio")
                    | Employment Abroad Land-Based
                  label.radio
                    input#optionsRadios3(type="radio", name="optionsRadios", value="option3", data-toggle="radio")
                    | Employment Abroad Sea-Based
                  label.radio
                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", data-toggle="radio")
                    | Self Employed
                  label.radio
                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", data-toggle="radio")
                    | Remitance
                  label.radio
                    input#optionsRadios1(type="radio", name="optionsRadios", value="option1", data-toggle="radio")
                    | Business

              .form-group
                label How much is your regular monthly income?
                input.form-control.autonumeric.input-lg(type='text', required="required", data-a-sign="Php ")

              .form-group
                label What's the name of the company?
                #scrollable-dropdown-menu
                  input.typeahead.form-control.input-lg(type="text", placeholder="Name of Company")

              .form-group.pull-right
                button.btn.btn-danger.btn-lg.btn-embossed(type='submit') Continue Application &nbsp;
                  i.fa.fa-angle-double-right

        .col-md-4
          .list-group.steps
            a.list-group-item.done(href='app-1.html')
              i.fa.fa-check
              | Loan
            a.list-group-item.done(href='app-2.html')
              i.fa.fa-dot-circle-o
              | Personal
            a.list-group-item.active(href='app-1.html')
              i.fa.fa-circle-o
              | Financial
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Documents
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Matching Lenders
