extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 Personal
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
    .container
      .row
        .col-md-8
          .boxed
            form.infobox.clearfix
              .form-group

                label What is your name?
                .row
                  .col-md-4
                    input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="First")
                  .col-md-4
                    input.form-control.input-lg(type='text', autofocus="autofocus", placeholder="Middle (optional)")
                  .col-md-4
                    input.form-control.input-lg(type='text', autofocus="autofocus", required="required", placeholder="Last")

              .form-group
                label What's your active mobile number?
                  span.text-muted &nbsp; e.g. "(0915) 234-3243"
                input#phone.form-control.input-lg(type="text", placeholder="(0915) 999-9999")

              .form-group
                label When's your birthday?
                  span.text-muted &nbsp; e.g. "12/25/1980"
                input#date.form-control.input-lg(type="text", placeholder="MM/DD/YYYY")

              h4.form-break CREATE ACCOUNT
              .form-group
                label What's your active email?
                input.form-control.input-lg(type="email", placeholder="juan.dc@yahoo.com")

              .form-group
                label Create password
                input.form-control.input-lg(type="password")

              .form-group
                label Security Question: Last school you attended?
                #university-list
                  input.typeahead.form-control.input-lg(type="text")

              .form-group.pull-right
                button.btn.btn-danger.btn-lg.btn-embossed(type='submit') Continue Application &nbsp;
                  i.fa.fa-angle-double-right



        .col-md-4
          .list-group.steps
            a.list-group-item.done(href='app-1.html')
              i.fa.fa-check
              | Loan
            a.list-group-item.active(href='app-2.html')
              i.fa.fa-dot-circle-o
              | Personal
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Financial
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Documents
            a.list-group-item.disabled(href='app-1.html')
              i.fa.fa-circle-o
              | Matching Lenders
