extends _layout
block stylehead
  link(rel="stylesheet", href="assets/css/squeeze.css")
block content
  .banner
    h3 GET APPROVED QUICKLY FOR THE RIGHT CREDIT CARD &nbsp;
    a.btn.btn-sm.btn-danger.btn-embossed(href="http://www.loansolutions.ph/credit-card-form") Apply Now &nbsp;
      i.fa.fa-angle-double-right
  a(name='apply-loan')
  .jumbotron.squeeze
    .container-fluid
      .row
        nav.navbar(role='navigation')
          .navbar-header
            a.navbar-brand(href='http://www.loansolutions.ph/')
              img(src='assets/images/loansolutions-logo-v3.png', alt='LoanSolutions PH')
          #navbar.collapse.navbar-collapse
            .navbar-text.navbar-right
              .fb-like(data-href='https://www.facebook.com/LoanSolutionsPH', data-layout='standard', data-action='like', data-show-faces='false', data-share='false', data-colorscheme='dark')
    .container
      .row
        .headline
          h1 Get approved quickly for the right credit card
          h2.tagline Be it free miles, gas, or shopping rewards, get the best credit card that  suits your lifestyle here.
          a.btn.btn-danger.btn-lg.btn-embossed(href="http://www.loansolutions.ph/credit-card-form") Apply Now &nbsp;
            i.fa.fa-angle-double-right
  a#showHere
  section#partners
    .container-fluid
      .row
        .col-md-12
          img.img-center.img-responsive(src="assets/images/squeeze/cc-partners.jpg", alt="")
  section#testimonials
    .container.narrow
      .row
        h2.title What type of credit card are you looking for?
        .col-md-3.col-sm-6
          +tile('Low Interest','low-interest.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Low Balance Transfer','low-balance.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Cashback','cashback.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Rewards','rewards.png','http://www.loansolutions.ph/credit-card-form')
      .row(style="margin-top:30px;")
        .col-md-3.col-sm-6
          +tile('Airmiles','airmiles.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Petrol','petrol.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Shopping','shopping.png','http://www.loansolutions.ph/credit-card-form')
        .col-md-3.col-sm-6
          +tile('Premium','premium.png','http://www.loansolutions.ph/credit-card-form')


  section#faq
    .container.narrow
      .row
        h2.title Credit Card Application FAQ
        .col-md-12
          dl
            dt Qualified ba ako for a credit card?
            dd Ang mga sumusunod ang mga batayan kung ikaw ay qualified sa credit card:
              ul
                li Filipino Citizen
                li Principal Cardholder must between 21-65 years old
                li Employed as a Regular Employee for at least 2 years
                li OR Self-Employed Profitably for at least 3 years
                li Gross Annual Income must be at least P140,000
                li Must have a landline number

            dt Ano ang mga requirements para mag-apply?
            dd
              ul
                li Government-Issued Photo-Bearing ID
                li For Self-Employed: 3 years AFS or ITR AND SEC/DTI Registration
                li For Employed: Signed COE or ITR or 3mo Payslip with Company ID (front/back)
block jsfooter
  script(type="application/javascript", src="assets/js/headhesive.min.js")