extends _layout
block content
  a(name='apply-loan')
  .hero.jumbotron
    .container-fluid
      .row
        nav.navbar(role='navigation')
          .navbar-header
            a.navbar-brand(href='http://www.loansolutions.ph/')
              img(src='assets/images/loansolutions-logo-v3.png', alt='LoanSolutions PH')
          #navbar.collapse.navbar-collapse
            .navbar-text.navbar-right
              .fb-like(data-href='https://www.facebook.com/LoanSolutionsPH', data-layout='standard', data-action='like', data-show-faces='false', data-share='false')
      .row
        .headline
          h1 One Loan Application, Multiple Lenders in Minutes
          h2.tagline Apply for a loan here!
    .container
      .row
        .col-md-6.col-sm-12
          ul.media-list
            li.thumbnail.media
              a(href='http://www.loansolutions.ph/personal-loan-form')
                img.pull-left.img-responsive(src='assets/images/personal-loan-icon.png', style='width:110px;height:110px')
                .media-body
                  h3.media-heading Personal Loan
                  p
                    | For employees, OFWs, doctors, students, beneficiaries, to be used any way you like. Also for those who want to start their own business
                  a.btn.btn-danger.btn-sm(href='http://www.loansolutions.ph/personal-loan-form')
                    | Apply Now &nbsp;
                    i.fa.fa-angle-double-right
            li.thumbnail.media
              a(href='http://www.loansolutions.ph/vehicle-loan-form')
                img.pull-left.img-responsive(src='assets/images/vehicle-loan-icon.png', style='width:110px;height:110px')
                .media-body
                  h3.media-heading Vehicle Loan
                  p
                    | For those who want to buy new and second-hand cars, and new motorcycles. Also for those who want to loan with a car as collateral
                  a.btn.btn-danger.btn-sm(href='http://www.loansolutions.ph/vehicle-loan-form')
                    | Apply Now &nbsp;
                    i.fa.fa-angle-double-right
        .col-md-6.col-sm-12
          ul.media-list
            li.thumbnail.media
              a(href='http://www.loansolutions.ph/home-loan-form')
                img.pull-left.img-responsive(src='assets/images/house-loan-icon.png', style='width:110px;height:110px')
                .media-body
                  h3.media-heading Home Loan
                  p
                    | For those who want to buy a new house and lot or a new condo unit. Also for those who want to loan with real estate property as collateral
                  a.btn.btn-danger.btn-sm(href='http://www.loansolutions.ph/home-loan-form')
                    | Apply Now &nbsp;
                    i.fa.fa-angle-double-right
            li.thumbnail.media
              a(href='http://www.loansolutions.ph/business-loan-form')
                img.pull-left.img-responsive(src='assets/images/business-loan-icon.png', style='width:110px;height:110px')
                .media-body
                  h3.media-heading Business Loan
                  p
                    | For those who need financing for their business for capital or operational expenses (such as to buy new equipment)
                  a.btn.btn-danger.btn-sm(href='http://www.loansolutions.ph/business-loan-form')
                    | Apply Now &nbsp;
                    i.fa.fa-angle-double-right
  section.nospace.notify.notify-credit
    .container-fluid
      .row: .col-md-12
          p.text-center
            | &nbsp;Apply for a Credit Card that Suits Your Lifestyle &nbsp;
            a.btn.btn-danger.btn-sm(href="http://www.loansolutions.ph/credit-card", target="_blank") Learn More &nbsp;
              i.fa.fa-angle-double-right

  section#partners
    .container-fluid
      .row
        .col-md-12
          .partners-roll
  section#testimonials
    .container.narrow
      .row
        h2.title what borrowers say about loansolutions
        .col-md-6
          img.img-responsive(src='assets/images/tst-img1.jpg', alt='', style='width:100%')
          blockquote
            p
              | "Ang laking tulong ng LoanSolutions sa pag-apply ng loan para sa sarili naming bahay! Pagod na kasi kaming mag-rent, taun-taon nagtataas ng renta tapos hindi naman magiging sa 'yo pagdating ng araw.
            p
              | Dahil sa LoanSolutions, nakahanap kami ng lending company na nag-pautang sa amin ng downpayment para sa house and lot. Ngayon, may sarili na kaming bahay! Thank you LoanSolutions!"
            footer Marjorie Venturoza, Calamba City
        .col-md-6
          img.img-responsive(src='assets/images/tst-img2.jpg', alt='', style='width:100%')
  section#faq
    .container.narrow
      .row
        h2.title Frequently Asked Questions
        .col-md-12
          dl
            dt What is LoanSolutions.ph?
            dd
              | LoanSolutions is a service where you can apply for different types of loans online.
              br
              strong We are not a lending company;
              |  instead we serve as a bridge between you and financing companies. This gives you the power to apply to many financing institutions with just one application form, at the comfort of your own home. You won't need to line up to loan anymore!
            dt How does LoanSolutions.ph work?
            dd
              | Once you choose the type of loan you want to apply for, you will fill out our online application form. You will sign up with your Facebook account at the end of your applicaton. We need this to confirm that you are a real loan applicant (and not a troll!). Don't worry, we will never post on your wall as we strictly follow Privacy Laws.
            dd
              | As soon as you complete your form, we endorse your loan application to our authorised partner banks and lenders. They will qualify you and give you a call if you pass their requirements. This empowers you to choose the best offer from our partners.
