extends _layoutApp
block stylehead
  link(rel="stylesheet", href="assets/css/app.css")
block content
  section.ask-panel
    .container
      .row
        .col-md-12
          .headline
            h1 LOAN
            h2.tagline Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolor esse accusantium, sit hic, facere ratione accusamus, odio doloribus officiis non illo iure, dolores aut?
      .row
        .col-md-12
          .block-flat
            .header.clearfix
              .pull-right
                a.btn.btn-sm.btn-danger(href="app-1.html") Continue Application
              h3 Application 123
            .content
              table.table
                thead
                  tr
                    th Lender
                    th Matched Loan Type
                    th Loan Status
                    th &nbsp;

                tbody
                  tr
                    th(scope='row') Asialink
                    td Personal Loan
                    td Waiting for Document
                    td
                      a(href="", target="") See More
                  tr
                    th(scope='row') Asialink
                    td Personal Loan
                    td Waiting for Document
                    td
                      a(href="", target="") See More
                  tr
                    th(scope='row') Asialink
                    td Personal Loan
                    td Waiting for Document
                    td
                      a(href="", target="") See More
                  tr
                    th(scope='row') Asialink
                    td Personal Loan
                    td Waiting for Document
                    td
                      a(href="", target="") See More
                  tr
                    th(scope='row') Asialink
                    td Personal Loan
                    td Waiting for Document
                    td
                      a(href="", target="") See More
                  tr
                    th(scope='row') Asialink
                    td Personal Loan
                    td Waiting for Document
                    td
                      a(href="", target="") See More





