extends _layout-partners
block stylehead
  link(rel="stylesheet", href="assets/css/pawnhero.css")
block content
  .jumbotron.pawnhero
    .container-fluid
      .row
        nav.navbar(role='navigation')
          .navbar-header
            img(src='assets/images/loansolutions-logo-v3.png', alt='LoanSolutions PH')
            img(src='assets/images/pawnhero/pawnhero-logo.png', alt='PawnHero', style="margin-left: 30px;")
          #navbar.collapse.navbar-collapse
            .navbar-text.navbar-right
              .fb-like(data-href='https://www.facebook.com/LoanSolutionsPH', data-layout='standard', data-action='like', data-show-faces='false', data-share='false', data-colorscheme='dark')
    .container-fluid
      .row
        .headline
          img(src="assets/images/pawnhero/great-news.png", alt="")
          h1 PawnHero is interested in lending to you
          a.btn.btn-danger.btn-lg.btn-embossed(href="http://pawnhero.ph/pawn") Get Cash &nbsp;
            i.fa.fa-angle-double-right

  section#faq
    .container
      .row
        .headline
          h2.title How PawnHero Works?
          p.lead It's hassle-free, private, and convenient to use &nbsp;
            a(href="http://pawnhero.ph/", target="_blank") PawnHero.ph
        .col-md-4
          .tile.thumb-info
            img(src='assets/images/pawnhero/step-1.png')
            h3 Post
            p Describe your item(s) and take a picture. Get a
              strong fair estimate &nbsp;
              | in minutes! Accept to schedule a free pick-up.
        .col-md-4
          .tile.thumb-info
            img(src='assets/images/pawnhero/step-2.png')
            h3 GET CASH
            p We'll deposit your
              strong cash &nbsp;
              | the
              strong same day &nbsp;
              | we receive &amp; assess your item(s).
        .col-md-4
          .tile.thumb-info
            img(src='assets/images/pawnhero/step-3.png')
            h3 Pay Loan
            p When you repay your loan, we'd ship back your item(s),
              strong fully insured &amp; for free!
      .row.text-center
        img.img-center(src="assets/images/pawnhero/partners.jpg", alt="")

