.pawnhero{padding:50px 30px 80px 30px;background:#2a80b9 url("../images/pawnhero/hero-bg.png") no-repeat center center}.pawnhero h1{font-size:56px;line-height:1.2;color:#fff;margin-bottom:15px}.pawnhero .headline{padding:80px 0}section .headline{text-align:center;margin-bottom:50px}section .headline .title{margin:0 0 20px 0}.tile{padding:0}.tile h3,.tile p{text-align:left}.tile.thumb-info img{height:207px}.tile.thumb-info h3{text-transform:uppercase;font-weight:700}
